<div class="clock-display">
    <div class="clock-time" id="digitalClock">00:00:00</div>
    <div class="clock-date" id="digitalDate">{{T_CLOCK_DATE_PLACEHOLDER}}</div>
    <div class="analog-clock">
        <div class="analog-face" id="analogFace">
            <div class="analog-center"></div>
            <div class="analog-hand analog-hour" id="analogHour"></div>
            <div class="analog-hand analog-minute" id="analogMinute"></div>
            <div class="analog-hand analog-second" id="analogSecond"></div>
        </div>
    </div>
</div>
